
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    /*main color von der webseite also das in der mitte*/
    --primary-color: #696969;
    /*second color von der webseite also das ganz links (navbar)*/
    --secondary-color: #808080;

    --border-color: #444444;
    /* Font color */
    --font-color: #fff;
}
.White_mode{
    /*main color von der webseite also das in der mitte*/
    --primary-color: #fff;
    /*second color von der webseite also das ganz links (navbar)*/
    --secondary-color: #F1F1F1;
    --border-color: #444444;
    /* Font color */
    --font-color: #000000;
}



body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

/* CSS-Datei (style.css) */

/* Stil für die Navigationsleiste */
.sidebar {
    background-color: var(--secondary-color);
    border-radius: 40px;
    color: var(--font-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 10px;
    transition: transform 1s;
}
.sidebar:hover {
    transform: scale(105%,105%);
    transition: linear 1s;
}

.sidebar .logo {
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 7%;
    height: 7%;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}


.sidebar h1 a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    display: flex;
    align-items: center;
}


.sidebar nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #1f5eff;
}


#navbar-settings {
    margin-top: 500px;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-box {
    background-color: #444;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}


/* CSS für die Listen-Elemente */
ul {
    list-style-type: none; /* Entfernt die Standardliste-Punkte */
    padding: 0; /* Entfernt den Abstand */
}

li {
    margin-bottom: 10px; /* Fügt etwas Abstand zwischen den Listen-Elementen hinzu */
}

/* CSS für die Links */
a {
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    color: white; /* Setzt die Textfarbe auf Schwarz */
}

/* CSS für Hover-Effekte der Links */
a:hover {
    color: gray; /* Ändert die Textfarbe beim Überfahren mit der Maus */
}


.dark-white{
    display: flex;
    justify-content: right;
    margin-top: 30px;
}
.dark-white-mode{

    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 1rem;
    border: none;
    font-weight: 600;
    transition: transform 0.1s;
}

.dark-white-mode:hover{
        transform: scale(102%,102%);
        transition: linear 0.1s;
}


.main-container{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


.container {
    margin-left: 1200px;
    padding-top: 100px;
    color: var(--font-color);
}

.container .border {
    background-color: var(--border-color);
    padding: 20px;
    border-radius: 20px;
}
.container .border p{
    font-size: 23px;
}

.container .border input{
    font-size: 15px;
    width: 350px;
    height: 45px;
}

.container .border .sendGuildButton{
    font-size: 15px;
    width: 50px;
    height: 50px;
}

.container .border h2{
    display: flex;
    justify-content: center;
    font-size: 40px;
}


.container {
    margin-bottom: 200px;
    color: var(--font-color);
    margin-left: 200px;
}

.container .Server-border {
    background-color: var(--border-color);
    width: 280px;
    height: 480px;
    border-radius: 20px;
}

.container .Server-border .text {
    padding-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.container .Server-border h3 {
   font-size: 23px;
}
.container .Server-border p {
    font-size: 18px;
}

