
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    /*main color von der webseite also das in der mitte*/
    --primary-color: #696969;
    /*second color von der webseite also das ganz links (navbar)*/
    --secondary-color: #808080;

    --border-color: #444444;
    /* Font color */
    --font-color: #fff;
}/*
.White_mode{
    /*main color von der webseite also das in der mitte*/
   /* --primary-color: #fff;
    /*second color von der webseite also das ganz links (navbar)*/
   /* --secondary-color: #F1F1F1;
    --border-color: #444444;
    /* Font color */
 /*   --font-color: #000000;
}
*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color: var(--font-color);
    margin: 0;
    padding: 0;
}

/* CSS-Datei (style.css) */

/* Stil für die Navigationsleiste */
.sidebar {
    background-color: var(--secondary-color);
    border-radius: 40px;
    color: var(--font-color);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 10px;
    transition: transform 1s;
}
.sidebar:hover {
    transform: scale(105%,105%);
    transition: linear 0.6s;
}

.sidebar .logo {
    padding-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    width: 12%;
    height: 12%;
}

.sidebar .logo img{
    border-radius: 50%;
}

.sidebar h1 {
    margin-bottom: 20px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.sidebar nav ul li {
    margin-bottom: 15px;
}


.sidebar h1 a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 20px;
    display: flex;
    align-items: center;
}


.sidebar nav ul li a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 25px;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.sidebar nav ul li a:hover {
    color: #1f5eff;
}


#navbar-settings {
    margin-top: 450px;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-content {
    margin-left: 220px;
    padding: 20px;
}

.user-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user-box {
    background-color: #444;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.user-box img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}



.top-right {
    position: absolute;
    top: 10px;
    right: 10px;
}

.bottom-right {
    position: absolute;
    top: 350px;
    right: 10px;
}

.button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.button.red {
    background-color: #ff4444;
}

.button.gray {
    background-color: #ccc;
}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #888;
    width: 100%;
    box-sizing: border-box;
}



/* CSS für die Listen-Elemente */
ul {
    list-style-type: none; /* Entfernt die Standardliste-Punkte */
    padding: 0; /* Entfernt den Abstand */
}

li {
    margin-bottom: 10px; /* Fügt etwas Abstand zwischen den Listen-Elementen hinzu */
}

/* CSS für die Links */
a {
    text-decoration: none; /* Entfernt die Unterstreichung der Links */
    color: white; /* Setzt die Textfarbe auf Schwarz */
}

/* CSS für Hover-Effekte der Links */
a:hover {
    color: gray; /* Ändert die Textfarbe beim Überfahren mit der Maus */
}



.chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ändere die Höhe nach Bedarf */
}